// color
$primary: #ed3798;
$secondary: #2daccf;
$accent: #fee440;
$dark: rgba(0,0,0,.7);
$light: #fff;
$outline: #2daccf;
$shadow:rgba(149, 185, 193, .3);

// space

// media size
$breakpoint-tablet: 768px;

// global style
@mixin round-rectangle-shadow {
    outline: 0;
    border: 0;
    border-radius: 8px;
    color: $dark;
    box-shadow: 0 4px 20px $shadow;
    cursor: pointer;
    transition: all .3s ease;

    &:hover, &:focus {
        box-shadow: 0 4px 10px $shadow;
        transform: translateY(-8px);
    }
}

@mixin round-square-border {
    outline: 0;
    border: 2px solid $dark;
    border-radius: 8px;
    color: $dark;
    cursor: pointer;
    transition: all .3s ease;

    &:hover, &:focus {
        background: $dark;
        color: $light;
    }
}

@mixin text-xs {
    font-size: .8rem;
}

@mixin text-sm {
    font-size: 1rem;
}

@mixin text-md {
    font-size: 1.2rem;
}

@mixin text-lg {
    font-size: 1.5rem;
}

@mixin add-right-space {
    margin-right: 16px;
    * > :last-child { margin-right: 0; }
}

@mixin add-left-space-sm {
    margin-left: 8px;
    * > :first-child { margin-left: 0; }
}