@import "../styles/theme";

.blog-container {
  padding: 8px;
  line-height: 2rem;
}

.blog-header {
  color: $primary;
}

.blog-body {
  box-shadow: 0 4px 20px $shadow;
  border-radius: 16px;
  margin: 16px 0;
  padding: 16px;
}

.blog-content {
  color: $dark;
  a {
    outline-color: $secondary;
    color: $primary;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  blockquote {
    background: #f3f6f8;
    padding: 8px;
    border-radius: 8px;
  }
}

.blog-nav {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;

  a {
    @include round-rectangle-shadow;
    @include text-xs;
    text-decoration: none;
    font-weight: bold;
    padding: 0 8px;
    line-height: 1.5rem;
  }

  .hidden {
    visibility: hidden;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
}

.blog-tags {
  @include text-xs;
  display: flex;
  flex-wrap: wrap;
  line-height: 1rem;
  padding-top: 16px;
}

.button-to-top {
  @include text-md;

  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline-color: $secondary;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.mobile-share-buttons {
  margin-top: 8px;
  line-height: 0;
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}
