@import "../styles/theme";

.category-filter {
  margin: 24px 16px;
  display: flex;
  flex-wrap: wrap;

  .filter-item {
    @include round-rectangle-shadow;
    @include text-xs;
    @include add-right-space;

    padding: 8px 16px;
    margin-top: 16px;
    background: $light;

    &.active {
      transform: translateY(0);
      background: $dark;
      color: $light;
    }
  }
}
