@import "../styles/theme";

.pagination {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  
    a {
      @include round-square-border;
      @include add-left-space-sm;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      &.active {
        background: $dark;
        color: $light;
      }
    }
  }