@import "../styles/theme";

.post-link-container {
  margin: 16px;
  cursor: default !important;
}

.card {
  @include round-rectangle-shadow;
  @include add-right-space;

  // padding: 16px;
  background: $light;
}

.post-header {
  .post-title {
    padding: 0 16px;
    margin-bottom: 8px;
    color: $primary;
    line-height: 1.5rem;
  }

  .post-date, .post-count {
    padding: 0 16px;
    @include text-xs;
    line-height: 1.5rem;
  }
}

.post-body {
  padding: 16px;
}
