@import "../styles/theme.scss";

.sidebar-wrapper {
    display: none;

    @media (min-width: $breakpoint-tablet) {
        display: block;
        position: sticky;
        top: 150px;
        margin-top: 0;
        margin-right: -30%;
        width: 20%;
        height: 100%;
        padding: 8px;
        border-radius: 8px;

        @include text-xs;
        line-height: 1.2rem;

        p {
          opacity: .6;
        }
      }
}