@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Overpass&display=swap');
@import "../styles/theme.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
}

h1,
h2,
h3,
h4 {
  font-family: 'McLaren', cursive;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.page-container {
  width: 95%;
  @media (min-width: $breakpoint-tablet) {
    width: 50%;
  }
}

.page-header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

  .page-header-title {
    text-transform: uppercase;
    background: linear-gradient(
      to right,
      $primary 0%,
      $secondary 70%,
      $accent 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .page-header-subtitle {
    position: absolute;
    bottom: 0;
    left: 3.5rem;
  }

  .page-header-nav {
    align-self: center;

    a {
      text-decoration: none;
      padding: 4px 16px;
      border: 3px solid $primary;
      color: $primary;
    }
  }
}

.link-button {
  text-decoration: none;
  color: inherit;
  padding: 0 8px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.button-default {
  outline-color: $secondary;
  background: $light;
  font-size: 0.8rem;
  text-decoration: none;
  border: 2px solid $dark;
  color: $dark;
  border-radius: 4px;
  padding: 0 8px;
  line-height: 1.5rem;
  transition: all 0.5s;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $dark;
    color: $light;
  }
}

.page-content {
  display: flex;
  justify-content: space-between;
}

.page-footer {
  color: $primary;
  text-align: center;
  font-size: 0.9rem;
  margin: 32px 0;

  .footer-sitemap {
  }
  a {
    outline-color: $secondary;
  }
}

.grid-view {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

@for $i from 0 to 10 {
  .p-#{$i} {
    padding: $i * 8 + px;
  }

  .m-#{$i} {
    margin: $i * 8 + px;
  }
}

.link-default {
  text-decoration: none;
  color: inherit;
}
